*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-grey: #4c6379;
	--dark-blue: #7777ce;
	--orange: #f1be32;
	--light-orange: #f9d57c;
}

body {
	background-color: var(--dark-blue);
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: var(--light-grey);
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
	font-size: 2.3rem;
	margin: 20px 0;
}

.input-container {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.convert-btn {
	background-color: var(--orange);
	cursor: pointer;
	border: none;
	padding: 4px;
}

.number-input {
	height: 25px;
}

.select-input {
	height: 25px;
	margin-left: 10px;
}

#results {
	margin: 20px 0;
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.result-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light-grey);
	color: var(--dark-blue);
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.label {
	font-size: 1.2rem;
	font-weight: bold;
}

.output {
	font-size: 1.2rem;
	font-family: "Courier New", Courier, monospace;
	background-color: var(--light-orange);
	padding: 10px;
	border-radius: 5px;
	text-align: right;
	min-width: 200px;
}

@media screen and (min-width: 500px) {
	.input-container {
		flex-direction: row;
	}

	#results {
		max-width: 600px;
	}
}
